<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.TestMapper">
    <select id="getTestList2" resultType="kr.ed.haebeop.domain.Test">
        select * from test
    </select>
    <select id="getTest2" resultType="kr.ed.haebeop.domain.Test">
        select * from test where num = #{num}
    </select>
    <insert id="insert2">
        insert into test(title) values (#{title})
    </insert>
    <update id="update2">
        update test set title=#{title } where num=#{num }
    </update>
    <delete id="delete2">
        delete from test where num=#{num }
    </delete>
</mapper>